<!DOCTYPE html>
<html>
<head>
  <title>MySite</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js"></script>
<script>
      function initialize() {
        var mapCanvas = document.getElementById('map');
        var mapOptions = {
          center: new google.maps.LatLng(44.5403, -78.5463),
          zoom: 8,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(mapCanvas, mapOptions)
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="0s0jxLJalLsjKja/molr3udlzg/mVxwP8aHxxzo1nEx/9Quo1HYrC1nDqvE3KGlADycR9ZgR+4qc5Hs/JAp7zw==" />
</head>
<body>




<script>

function showmap(lat,lon)
{	
	console.log("inside show map");
        sorc="https://maps.googleapis.com/maps/api/staticmap?center="+lat+","+lon+"&zoom=4&size=600x300&maptype=roadmap&markers=color:blue%7Clabel:S%7C"+lat+","+lon;
        $("#maps").attr('src',sorc);
	$("img").show();
}


$(document).ready(function()
{
$(".graph").hide();
$("img").hide();
	$("#show").click(function()
	{
		console.log("ready clicked");
    		$.get("/movielist", function(data, status)
		{
        document.getElementById("list").innerHTML = "Please click Buttons of Country to view it on GOOGLE MAP."
		console.log(data);
		var output = "<table border='1'><tr><td>Name</td><td>Director</td><td>Country</td></tr>";
		for(i=0;i<data.length;i++)
		{
			output +="<tr>";
			output +="<td>";
			output +=data[i].name;
			output +="</td>";
			output +="<td>";
			output +=data[i].Director;
			output +="</td>";
			output +="<td>";
			output +="<button onclick='showmap("+data[i].lattitude+","+data[i].longitude+")'>"+ data[i].country+" </button> ";
			output +="</td>";
			output +="</tr>";
		}
		output+="</table>";
		
		document.getElementById("list").innerHTML = output;


		drawChart(data[0].people,data[1].people,data[2].people,data[3].people,data[4].people,data[5].people,data[6].people,data[7].people,data[8].people,data[9].people);
    	});
$(".graph").show();
});       
      
});
</script>


    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      // Load the Visualization API and the piechart package.
      google.load('visualization', '1.0', {'packages':['corechart']});
      // Set a callback to run when the Google Visualization API is loaded.
      google.setOnLoadCallback(drawChart);
      // Callback that creates and populates a data table,
      // instantiates the bar chart, passes in the data and
      // draws it.
      function drawChart(x,y,z,p,q,r,s,t,u,v ) {
        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Books Sold');
        data.addColumn('number', 'Millions');
        data.addRows([
          ['India',parseInt(x)],
          ['Argentina', parseInt(y)],
          ['Brazil', parseInt(z)],
          ['Australia', parseInt(p)],
          ['canada', parseInt(q)],
	['Egypt', parseInt(r)],
	['Finlanf', parseInt(s)],
	['Germany', parseInt(t)],
	['Italy', parseInt(u)],
	['Russia', parseInt(v)]
        ]);
        // Set chart options
        var options = {'title':'Which Countrys movies are more likable by people?',
                       'width':500,
                       'height':300};
        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
</script>

<style>
.graph
{
top:10%
left:70%
}
</style>
</head>
<body>



	<div>
	<button id="show">Show Movie List</button>
	</div>

	<div id="list">
	</div>

<div style="width:600px; height:300px">
<img id="maps" src="https://maps.googleapis.com/maps/api/staticmap?center=21.1311083,82.7792231&zoom=4&size=600x300&maptype=roadmap&markers=color:blue%7Clabel:S%7C21.1311083,82.7792231;" align="middle" width="600" height="300" style="border:0">

</img>
</div>


<div id="chart_div" class="graph"></div>

</body>
</html>


<div id="map"></div>
</body>
</html>