<!DOCTYPE html>
<html>
<head>
  <title>MySite</title>


<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script src="https://maps.googleapis.com/maps/api/js"></script> 

<script>


$(document).ready(function()
{
	$("img").hide();
	$("#show").click(function()
	{
		console.log("ready clicked");
    		$.get("/movielist", function(data, status)
		{
        
			console.log(data);
			document.write("<table border='1'><tr><td>Name</td><td>Director</td><td>Country</td></tr>");
			for(i=0;i<data.length;i++)
			{
				document.write("<tr>");
				document.write("<td>");
				document.write(data[i].name);
				document.write("</td>");
				document.write("<td>");
				document.write(data[i].Director);
				document.write("</td>");
				document.write("<td>");
				document.write("<button onclick='showmap("+data[i].lattitude+","+data[i].longitude+")'>"+ data[i].country+" </button> ");
				document.write("</td>");
				document.write("</tr>");
			}

    	});
	});
});
</script>
</head>
<body>
<div>
<button id="show">Show Movie</button>
</div>

<div style="width: 960px">
<img id="maps" src=" " align="middle" width="600" height="300" style="border:0"></img>
</div>
</body>
</html>